
#gameinfo {
    font-size: 110%;
}
div {
    display: table;
    margin: 0 auto;
}
#game table{
    border:3px groove blue;
    background-image:url("img/fon.jpg");  }
#game table tr td{
    border:1px dotted red;
    cursor:pointer;  }
#game table tr td:hover{ border:1px solid #ffa; }